---
---
<div id="container">
  <main>
    <section id="hero">
      <h1>.Contains(stuff)</h1>
      <h2>** No guarantee of accuracy **</h2>
    </section>
    <section id="body">
      <div id="formContainer">
        <form id="textForm">
          <textarea
            id="ingredients"
            placeholder="Add ingredients here"
            required="true"
          >
          </textarea>
        </form>
      </div>
      <div id="buttonContainer">
        <form id="submitForm">
          <input type="button" id="submitButton" value="Search" />
        </form>
      </div>
      <div id="results">
        <h3 id="safeText"></h3>
        <ul id="allergenText"></ul>
      </div>
    </section>
  </main>
</div>

<script src="../functions/logic.ts"></script>
